@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Poppins' , sans-serif;
	background-color: #221A3B;
}

.navbar{
	max-width: 1200px;
	margin: auto;
	padding: 1rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}
.nav-bg{
	background-color: transparent;
}

.navbar-brand span{
	-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
	font-size: 17px;
}

.nav-item a{
	color: #fff;
}

.nav-item a:hover{
	color: #8869EB;
}

.navbar-toggler-icon{
	background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.home{
    display: flex;
	max-width: 1200px;
    margin: auto;
	padding: 6rem 2rem; 
}	

.home .content{
	flex-basis: 50%;
	margin-left: 2rem;
}

.blur{
	position: absolute;
	box-shadow: 0 0 1000px 50px #aea3d1;
	z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    align-items: center;
    gap: 2rem; 
}

header .content H1{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
}

header .content h4{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-style: oblique;
    font-weight: 700;
    line-height: 2rem;
}

header .content h4 span{
	-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
	margin-bottom: 2rem;
    color: #ccc;
    font-size: 1rem;
}

header .content .social-media a{
     display: inline-flex;
	 justify-content: center ;
	 align-items: center;
	 width: 40px;
	 height: 40px;
	 background: transparent;
	 border: 2px solid #aea3d1;
	 border-radius: 50%;
	 font-size: 20px;
	 color:#aea3d1;
	 text-decoration: none;
	 margin: 0 15px 30px 0;
}

header .content .social-media a:hover{
	 background: #aea3d1;
	 color: #221A3B;
	 box-shadow:0 0 20px #aea3d1 ;
}


header .image img{
	width: 400px;
    height: 400px;
    margin-left: 5rem;
}

.about {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.about-img img{
	width: 400px;
    height: 400px;
	margin-left: 3rem;
	margin-top: 7.5rem;
}

.heading {
	text-align: center;
	font-size: 2rem;
	margin-top: 2rem;
}

.about-content h2{
	text-align: left;
	font-style: italic;
	line-height: 1.2;
	color: #fff;
}

.about-content p{
	font-size: 1rem;
	margin: 1rem 0 3rem ;
	color: #fff;
	margin-right: 3rem;
}

.project {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;

}

.project-container {
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	margin-left: 3rem;
	margin-top: 8rem;
	margin-bottom: 7rem;
}

.project-container .project-box {
	display: flex;
	background-color: #4a3d7a;
	border-radius: 2rem;
	text-align: center;
}

.project-container h2{
	text-align: left;
	font-style: italic;
	line-height: 3rem;
	color: #fff;
	font-size: 2.3rem;
}

.project-container .project-box a{
	display: inline-flex;
	justify-content: center ;
	align-items: center;
	width: 6rem;
	height: 6rem;
	background: transparent;
	border: 2px solid #aea3d1;
	border-radius: 50%;
	font-size: 4rem;
	color:#aea3d1;
	text-decoration: none;
	margin-left: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.project-container .project-box a:hover {
	background: #aea3d1;
	 color: #221A3B;
	 box-shadow:0 0 20px #aea3d1 ;
}

.project-container .project-box p{
	flex-basis: 60%;
	color: #fff;
	text-align: left;
	font-size: 1rem;
	margin-left: 2rem;
	margin-top: 4rem;
	margin-bottom: 2rem;
	margin-right: 2rem;
}

.contact-container {
	justify-content: left;
	margin-top: 15rem;
}

.contact h2 {
	text-align: left;
	font-style: italic;
	line-height: 1.5rem;
	color: #fff;
	font-size: 2.3rem;
}

.contact form{
	max-width: 30rem;
	margin: 1rem auto;
	text-align: center;
	margin-bottom: 3rem;
}

.contact form .input-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea{
	width: 100%;
	max-height: 10rem;
	padding: 1rem;
	font-size: 1rem;
	color:#fff;
	background: #4a3d7a;
	border-radius: .8rem;
	margin: .7rem 0;
}


.btn {
	display: inline-block;
	padding: 1rem 2.8rem;
	background: #5f4e9b;
	border-radius: 4rem;
	box-shadow: 0 0 1rem #5e48a5;
	font-size: 1rem;
	color: #fff;
	letter-spacing: .1rem;
	font-weight: 600;
	transition: .5s ease;
}

.btn:hover {
	box-shadow: none;
	background: #4a3d7a;
	color: #fff;
}